.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
    transition: background-color .1s ease;
    cursor: default;
}

.Track:hover {
    background-color: rgba(1, 12, 63, 1);
}

.Track a {
    text-decoration: none;
    color: #ffffff;
}
.Track a:hover {
    color: #6c41ec;
 }

.Track-play {
    display: flex;
    align-items: center;
}

.Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.Track-action:hover {
    opacity: .5;
}

.Track-action:active {
    color: #6c41ec;
}

.Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
}

.Explicit {
    border: 1px solid #6c41ec;
    font-size: .8rem;
    padding: .2rem;
    color: #7951ee;
    margin-bottom: 2rem;
}

.Track-information h3 {
    margin-bottom: .22rem;
}

.Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}

.Inactive {
    cursor: default;
}

.Inactive:hover {
    opacity: 1;
}

.Inactive:active {
    color: #ffffff;
}

@media only screen and (max-width: 500px) {
    .Explicit {
        font-size: .5rem;
    }
}