.TrackList {
    width: 100%;
    overflow-y: scroll;
}

#TrackList-right {
    max-height: 450px;
}

@media only screen and (max-width: 1165px) {
    #TrackList-right {
        max-height: 420px;
    }
}

@media only screen and (max-width: 570px) {
    #TrackList-right {
        max-height: 420px;
    }
}