.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.SearchBar input {
    width: 70%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
    transition: transform .1s ease-in;
}

.SearchBar input::placeholder {
    color: #ffffff;
    opacity: .5;
}

.SearchBar input:focus {
    transform: scale(1.025);
}

.SearchButton {
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 54px;
    background-color: #010c3f;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0;
    color: #fff;
    font-weight: 500;
}

.SearchButton:hover {
    background-color: rgba(108, 65, 233, .7);
}

@media only screen and (max-width: 1020px) {
    .SearchBar {
        margin: 2rem 0;
    }
}

@media only screen and (max-width: 730px) {
    .SearchBar input {
        width: 90%;
    }
}